@using WebApplication.Models
@Scripts.Render("~/bundles/agenda")
@{
    ViewBag.Title = "Home Page";
}
<div class="col col-xs-12 col-md-10 col-md-offset-1">
    <h2 class="heading text-center">Persoonlijke Agenda</h2>
<!--    <div class="agenda">
        <h3>Week 11 - 2014</h3>
        <div class="day col-md-offset-1 col-md-2 col-xs-12">
            <h4 class="text-center">Maandag</h4>
            <div class="row event">
                <a href="les-detail.html">
                    <h4 class="ta-l mar-b-zero">
                        Schaatsen
                    </h4>
                    <p class="sub-res ta-l mar-zero">
                        Maandag 17 maart 2014
                    </p>
                    <p class="sub-res ta-l mar-zero">
                        10:00 - 13:00
                    </p>
                </a>
            </div>
        </div>
        <div class="day col-md-2 col-xs-12">
            <h4 class="text-center">Dinsdag</h4>
        </div>
        <div class="day col-md-2 col-xs-12">
            <h4 class="text-center">Woensdag</h4>
        </div>
        <div class="day col-md-2 col-xs-12">
            <h4 class="text-center">Donderdag</h4>
        </div>
        <div class="day col-md-2 col-xs-12">
            <h4 class="text-center">Vrijdag</h4>
            <div class="row event">
                <a href="les-detail.html">
                    <h4 class="ta-l mar-b-zero">
                        Schaatsen
                    </h4>
                    <p class="sub-res ta-l mar-zero">
                        Vrijdag 21 maart 2014
                    </p>
                    <p class="sub-res ta-l mar-zero">
                        10:00 - 13:00
                    </p>
                </a>
            </div>
        </div>
    </div>-->
</div>