
@{
    ViewBag.Title = "Reserveren";
}
<div class="col col-table col-sm-12 col-md-10 col-md-offset-1 text-center">
<h2 class="heading text-center">Reserveren</h2>
    <div class="day col-md-8 col-xs-12">
        <h3>Vandaag nog aan een les meedoen? </h3>



    </div>
    <div class="day col-md-4 col-xs-12">
        <h3> </h3>
    </div>
</div>

