
@{
    ViewBag.Title = "lesDetail";
}
<div id="site-wrapper">
    <div id="site-canvas">
        <div class="content container">

            <div class="col col-table col-sm-12 col-md-10 col-md-offset-1 text-center">
                <h2 class="heading">Schaatsen</h2>
                <div class="les-detail">
                    <h4 class="ta-l mar-b-zero">
                        Docent
                    </h4>
                    <p class="sub-res ta-l mar-zero">
                        Joost Janssen
                    </p>

                    <h4 class="ta-l mar-b-zero">
                        Datum:
                    </h4>
                    <p class="sub-res ta-l mar-zero">
                        17-03-2015
                    </p>

                    <h4 class="ta-l mar-b-zero">
                        Tijd:
                    </h4>
                    <p class="sub-res ta-l mar-zero">
                        10:00 - 13:00
                    </p>

                    <h4 class="ta-l mar-b-zero">
                        Aantal plaatsen:
                    </h4>
                    <p class="sub-res ta-l mar-zero">
                        25
                    </p>

                    <h4 class="ta-l mar-b-zero">
                        Aantal gereserveerd:
                    </h4>
                    <p class="sub-res ta-l mar-zero">
                        20
                    </p>

                    <a href='@Url.Action("Index", "Reserveren", "Reserveren")' class="btn btn-lg btn-primary btn-inschrijven">
                        Ga terug
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
