
@using WebApplication.Models
@using System.Globalization
@Scripts.Render("~/bundles/reserveren")
@{
    ViewBag.Title = "Reserveren";
}

<div class="col col-table col-sm-12 col-md-10 col-md-offset-1 text-center">
<h2 class="heading text-center">Reserveren</h2>
    <div class="col-xs-12">
       
    </div>
</div>

