<?xml version="1.0"?>
<configuration>
  
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior" type="WebHost.EnableCrossOriginResourceSharingBehavior, WebHost, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="WebserviceLibrary.Service1">
        <endpoint address="http://localhost:8732/service1"
              binding="webHttpBinding"
              contract="WebserviceLibrary.IService1"
              behaviorConfiguration="jsonBehavior"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp />
        </behavior>
          <behavior name="jsonBehavior">
            <webHttp />
            <crossOriginResourceSharingBehavior />
          </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>

