@model WebApplication.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div id="site-wrapper">
    <div id="site-canvas">
        <div class="content container">
            <div class="col col-xs-12 col-md-8 col-md-offset-2">
                <h2 class="heading">@ViewBag.Title</h2>
                <div class="col-xs-12 col-sm-6 text-center">
                    <form class="form-signin">
                        <label for="" class="sr-only">Voornaam</label>
                        <input id="" class="form-control" placeholder="Voornaam" required>
                        <label for="" class="sr-only">Tussenvoegsel</label>
                        <input id="" class="form-control" placeholder="Tussenvoegsel" required>
                        <label for="" class="sr-only">Achternaam</label>
                        <input id="" class="form-control" placeholder="Achternaam" required>
                        <label for="" class="sr-only">Geboortedatum</label>
                        <input id="" class="form-control" placeholder="Geboortedatum" required>
                        <label for="" class="sr-only">E-mailadres</label>
                        <input id="" class="form-control" placeholder="E-mailadres" required>
                        <button class="btn btn-lg btn-primary btn-login" type="submit">Verzend</button>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-6">
                </div>
            </div>
        </div>
    </div>
</div>

